@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: KanitRegular;
  src: url("./../../public/fonts/Kanit-Regular.ttf");
}

.font-kanit {
  font-family: KanitRegular;
}

body {
  background-color: rgb(15, 23, 42);
}

.animate-blink {
  animation-name: blink;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */